$primary-color: #D3BBDD;
$secondary-color: #C26DBC;
$grey-color: #858585;
$footer-color: #E1E1E1;

$font-title: 70px;
$font-subtitle: 60px;
$font-caption: 30px;
$font-large: 25px;
$font-normal: 20px;
$font-small: 18px;
